@media (max-width:1280px){
    #about-me{
        flex-wrap:wrap;
    }
    .about-me-img img{
        width: 100vw;
    }
    input,textarea{
        width: 300px;
    }
}


@media (min-width:0px) and (max-width:768px){
    .navbar{
        display: block;
        width:20px;
    }
    nav{
        display: none;
    } 
    header{
        padding-left: 20px;
    }
    .about-me-details h1{
        font-size: 40px;
        align-items: center;
    }
    .para{
        margin-left: 0px;

    }
    #recommendations {
        align-items: center;
        margin: 15px 30px;
    }
    #recommendations h1{
        font-size: 35px;
        align-items: center;
    }
    #skills h1{
        align-items: center;
        margin: 20px 50px;

    }
    hr{
       margin: 1px 50px; 
    }

}